################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/C++/VS/Debug
/C++/VS/Release
/C++/VS/x64
